/* font-family: 'Lobster', cursive;
font-family: 'Arimo', sans-serif; */

/* main headers */

h1 {
	font-family: 'Lobster', cursive;
	text-align: center;
	font-size: 3em;
	padding-top: 1.5em;
	padding-bottom: .25em;
	background-color: #848484;
}

h2 {
	font-family: 'Arimo', sans-serif;
	text-align: center;
	font-size: 1.5em;
	padding: 1em;
}

h4 {
	font-family: 'Arimo', sans-serif;
	text-align: center;
	font-size: 1em;
	line-height: 1.5em;
	width: 50%;
	margin: 0 auto;
}

h4 b {
	font-weight: 700;
}

/* input box */

.main {
	text-align: center;
	background-color: white;
}


input[type=numMain] {
	font-family: 'Arimo', sans-serif;
	font-size: 1em;
	color:#000;
	background-color:#ddd;
	width: 400px;
	text-align: center;
}